.custom-bg {
    background-color: #002c5d;
}

.custom-bt {
    background-color: #ff5a5f;
}

.custom-bt:hover {
    background-color: #ff5a5f;
}

.custom-bt:active {
    background-color: #ff5a5f;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}